<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="retrieveGasBurnSummaryData_DocAttach_Binding"/>
                <binding name="retrieveGasBurnResourceData_DocAttach_Binding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.caiso.com/soa/retrieveGasBurnSummaryData_v1_DocAttach" binding="basicHttpBinding" bindingConfiguration="retrieveGasBurnSummaryData_DocAttach_Binding" contract="CmriGasBurnSummaryService.retrieveGasBurnSummaryData_v1_DocAttach" name="retrieveGasBurnSummaryData_DocAttachServicePort"/>
            <endpoint address="http://www.caiso.com/soa/retrieveGasBurnResourceData_v1_DocAttach" binding="basicHttpBinding" bindingConfiguration="retrieveGasBurnResourceData_DocAttach_Binding" contract="CmriGasBurnResourceService.retrieveGasBurnResourceData_v1_DocAttach" name="retrieveGasBurnResourceData_DocAttachServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
