<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Serilog" version="2.7.1" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="3.1.2-dev-00774" targetFramework="net472" />
  <package id="Serilog.Sinks.Debug" version="1.0.2-dev-00018" targetFramework="net472" />
  <package id="Serilog.Sinks.EventLog" version="3.1.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Slack.Core" version="0.1.5-beta" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
</packages>